
{% extends "base.html" %}
{% block initial_content %}
{% load static %}
<style>
  .carousel-caption {
      top: 30%;
      bottom: auto;
      left: 2%;


  }
  
  .carousel-caption2 {
        top: 40%;
        bottom: auto;
        left: 2%;
  }
</style>

    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/abaut1.png' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="col-4">
            <h3 class="text-light text-left font-weight-bold" style="float:left;">We believe there are massive pools of incredibly talented youth across Africa; it is imperative to connect them to the global economy.</h3>          
          </div>
        </div>
        <!--
        <div class="carousel-caption carousel-caption2 d-md-none row">
          <div class="col-10">
            <p class="text-light text-left font-weight-bold" style="float:left;">We believe there are massive pools of incredibly talented youth across Africa; it is imperative to connect them to the global economy.</p>          
          </div>
        </div>
        -->
      </div>
    </div>
  </head>
  <body>
    <div style="min-height:250px;" class="bg-light shadow p-3 mb-5 bg-white rounded">
      <div class="container pt-3">
        <h3 class=" font-weight-bold pb-4 text-left"> We are on a movement to build a new generation of African data scientists</h3>
        <p>Global emerging markets represent an untapped, vast opportunity for many businesses and organizations, however, the lack of credible consumer and market data often makes it difficult to address societal challenges. A recent surge in digital innovations is changing this while creating opportunities for data-driven talent.</p>
        <p>Unfortunately, most companies cannot find nearly enough analysts and scientists to analyze the data collected for strategic decision making. Africa, meanwhile, has the youngest population and 7 of the 10 fastest growing internet populations in the world.</p>
        <p>We founded Blossom Academy to create a pathway where top talent from West Africa with diverse academic backgrounds can build the knowledge, skills, and abilities to reach their potential as data-driven professionals and leverage those talents to contribute to the economic growth of their respective countries.</p>
      </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <img src='{% static "images/ab1.jpeg" %}' class="img-fluid rounded" alt="Responsive image" style="height:auto; width:auto; ">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold text-center "> Our Mission </h3>
                <p class="text-center" style="">  Our mission is to connect top talent from Africa to the global economy by providing the necessary next-gen and leadership skills.</p>    
            </div>
        </div>
    </div>
    <div class="pt-5">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <div class="container ">
                    <h3 class="font-weight-bold pl-4 text-center"> Our Vision </h3>
                    <p class="pl-4 text-center" style="">  Our vision is to create Africa’s most diverse and dynamic community of highly skilled and creative data-driven leaders who are able to affect change and promote progress.</p>    
                </div>
            </div>
            <div class="col-4">
                <img src="{%static 'images/jinpen.png' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
            </div>
        </div>
    </div>
    
    <div class="row pt-5 pb-5">
        <div class="col-4">
            <img src="{%static 'images/ab3.jpeg' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold text-center"> Our Core Values </h3>
                <p class="text-center" style="">  We are a group of people with wide-ranging passions and aspirations, united by common values which are Grit, Resourcefulness, Integrity, and Time Management.</p>    
            </div>
        </div>
    </div>
    



    <div class="bg-light" style="min-height: 500px;">
      <div class="container">
        <h3 class="text-center font-weight-bold p-3 "> Core Team</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="container">
              <a href="https://www.linkedin.com/in/jephthahacheampong/"><p class="text-center"><img src="{%static 'images/jephh.jpg' %}" class="img-fluid" alt="Responsive image" style="height:200px; width:200px;"></p></a>
              <div class="row text-center">
                  <h5 class="col-12"> Jeph Acheampong </h3>
                  <div class="col-12">
                    <p> CEO & Founder </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="container">
              <a href="https://www.linkedin.com/in/maria-fabiana-rizzieri-309819a/"><p class="text-center"><img src="{%static 'images/fabiana.jpeg' %}" class="img-fluid" alt="Responsive image" style="height:200px; width:200px;"></p></a>
              <div class="row text-center">
                  <h5 class="col-12">Fabiana Rizzieri </h3>
                  <div class="col-12">
                    <p> Program Director </p>
                  </div>
              </div> 
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="container pb-5">
              <a href="https://www.linkedin.com/in/samuel-baafi-boakye/"><p class="text-center"><img src="{%static 'images/samuel.jpeg' %}" class="img-fluid" alt="Responsive image" style="height:200px; width:200px;"></p></a>
              <div class="row text-center">
                  <h5 class="col-12"> Samuel Boakye</h3>
                  <div class="col-12">
                    <p>  Lead Instructor</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h3 class="text-center font-weight-bold p-3 "> Advisory Team </h3>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="container pb-5">
              <a href="https://www.linkedin.com/in/shingai-manjengwa-1ba2574/"><p class="text-center"><img src="{%static 'images/shingai.jpeg' %}" class="img-fluid" alt="Responsive image" style="height:200px; width:200px;"></p></a>
              <div class="row text-center">
                  <h5 class="col-12">  Shingai Majengwa </h3>
                  <div class="col-12">
                    <p> CEO, Fireside Analytics</p>
                  </div>
              </div>
            </div>
          </div> 
          <div class="col-12 col-sm-6 col-md-4">
            <div class="container pb-5">
              <a href="https://www.linkedin.com/in/ritakusi/"><p class="text-center"><img src="{%static 'images/rita.jpeg' %}" class="img-fluid" alt="Responsive image" style="height:200px; width:200px;"></p></a>
              <div class="row text-center">
                  <h5 class="col-12"> Rita Kusi, Human Resource</h3>
                  <div class="col-12">
                    <p>CEO, Kusi Consulting </p>
                  </div>
              </div>
            </div>
          </div> 
          <div class="col-12 col-sm-6 col-md-4">
            <div class="container pb-5">
              <a href="https://www.linkedin.com/in/robertldaniel/"><p class="text-center"><img src="{%static 'images/rob.jpeg' %}" class="img-fluid" alt="Responsive image" style="height:200px; width:200px;"></p></a>
              <div class="row text-center">
                  <h5 class="col-12"> Robert Daniel, Industry Trends </h3>
                  <div class="col-12">
                    <p> Chief Sales Officer, Data Camp</p>
                  </div>
              </div>
            </div>
          </div>    
        </div>

      </div>  
    </div> 
    
    
  </body>
    {% endblock %}
