
{% extends "base.html" %}
{% block initial_content %}
{% load static %}
<style>
  .carousel-caption {
      top: 30%;
      bottom: auto;
      left: 2%;


  }
</style>

    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/abaut1.png' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="col-4">
            <h3 class="text-light text-left font-weight-bold" style="float:left;">We believe there are massive pools of incredibly talented youth across Africa; it is imperative to connect them to the global economy.</h3>          
          </div>
        </div>
      </div>
    </div>
  </head>
  <body>
    <div style="min-height:250px;" class="bg-light shadow p-3 mb-5 bg-white rounded">
      <div class="container pt-3">
        <h3 class=" font-weight-bold pb-4 text-left"> We are on a movement to build the next generation of West African data scientists</h3>
        <p>Technology startups are generating large amounts of data about their customers and their buying behavior. However, they cannot find nearly enough data scientists to analyze this data for strategic decision making.</p>
        <p>According to IBM, the number of data science roles is projected to see a demand spike by 28 percent and job listings are projected to grow to approximately 2.7 million by 2020. Africa, meanwhile, has the youngest population and 7 of the 10 fastest growing internet populations in the world.</p>
        <p>We founded Blossom Academy in 2018 to create a pathway where West African top talent with diverse backgrounds can build the knowledge, skills and abilities to reach their potential as data science professionals and leverage those talents to contribute to the growth and success of our clients. </p>
      </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <img src='{% static "images/ab1.jpeg" %}' class="img-fluid rounded" alt="Responsive image" style="height:auto; width:auto; ">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold text-center "> Our Mission </h3>
                <p class="text-center" style="">  Our mission is to connect talent across Africa to the global economy by providing the necessary next-gen and leadership skills.</p>    
            </div>
        </div>
    </div>
    <div class="pt-5">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <div class="container ">
                    <h3 class="font-weight-bold pl-4 text-center"> Our Vision </h3>
                    <p class="pl-4 text-center" style="">  Our vision is to create Africa’s most diverse and dynamic community of highly skilled and creative technology pioneers who are able to affect change and promote progress.</p>    
                </div>
            </div>
            <div class="col-4">
                <img src="{%static 'images/jinpen.png' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
            </div>
        </div>
    </div>
    
    <div class="row pt-5 pb-5">
        <div class="col-4">
            <img src="{%static 'images/ab3.jpeg' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold text-center"> Our Core Values </h3>
                <p class="text-center" style="">  We are a group of people with wide-ranging passions and aspirations, united by common values which includes Be Disciplined, Have Integrity, Cultivate Grit, Develop Excellence, Practice Resourcefulness, and Pursue Growth in order to improve the socio-economic status of youths across Africa, we reinvest most of our profits back into our aforementioned social mission</p>    
            </div>
        </div>
    </div>
    
    <div style="min-height:250px;" class="bg-light">
      <div class="container p-5">
        <h3 class=" text-center pb-2 font-weight-bold"> Our Leadership Team</h3>
        <p class="text-center "> Our leadership team combines visionary thinking, seasoned expertise, and a passion for results. With extensive backgrounds in technology, data science, and business enterprises ranging from global corporations to start-ups, we bring the insight and expertise necessary to deliver successful outcomes for our diverse range of clients.</p>
      </div>
    </div>
    
    <div class="row ml-5" style="min-height:100px;">
      <div class="col-md-2 col-sm-2 col-4 pt-2">
        <img class="img-fluid" src="{%static 'images/jeph22.png' %}" style="height: 100px; width: 100px;">
      </div>
      <div class="col-md-2 col-sm-4 col-8 pt-2">
        <h3>Jeph Acheampong <a class="text-primary" href="https://www.linkedin.com/in/jephthahacheampong/"><i class="fab fa-linkedin"></i></a></h3>
        <p>Co-founder & CEO</p>
      </div>
      <div class="col-md-2 col-sm-2 col-4 pt-2">
        <img class="img-fluid" src="{%static 'images/larbi.png' %}" style="height: 100px; width: 100px;">
      </div>
      <div class="col-md-2 col-sm-4 col-8 pt-2">
        <h3>Larbi Adjei-Lawrence <a class="text-primary" href="https://www.linkedin.com/in/adjeilarbi/"><i class="fab fa-linkedin"></i></a></h3>
        <p>Country Director</p>
      </div>
      <div class="col-md-2 col-sm-2 col-4 pt-2">
        <img class="img-fluid" src="{%static 'images/vicky.png' %}" style="height: 100px; width: 100px;">
      </div>
      <div class="col-md-2 col-sm-4 col-8 pt-2">
        <h3>Veronica Addai Mensah <a class="text-primary" href="https://www.linkedin.com/in/veronicaaddaimensah/"><i class="fab fa-linkedin"></i></a></h3>
        <p>People & Culture Lead</p>
      </div>

      <div class="col-md-2 col-sm-2 col-4 pt-4">
        <img class="img-fluid" src="{% static 'images/kenneth.jpg' %}" style="height: 100px; width: 100px;">
      </div>
      <div class="col-md-2 col-sm-4 col-8 pt-4">
        <h3>Kenneth Harlley <a class="text-primary" href="https://www.linkedin.com/in/kenneth-harlley-03b949149"><i class="fab fa-linkedin"></i></a></h3>
        <p>Web Development Lead</p>
      </div>
      <div class="col-md-2 col-sm-2 col-4 pt-4">
        <img class="img-fluid" src="{%static 'images/samuel.png' %}" style="height: 100px; width: 100px;">
      </div>
      <div class="col-md-2 col-sm-4 col-8 pt-4">
        <h3>Samuel Osei-Afriyie <a class="text-primary" href="https://www.linkedin.com/in/samuel-osei-afriyie-b1543257/"><i class="fab fa-linkedin"></i></a></h3>
        <p>Partnerships Lead</p>
      </div>
      <div class="col-md-2 col-sm-2 col-4 pt-4">
        <img class="img-fluid" src="{%static 'images/vero.png' %}" style="height: 100px; width: 100px;">
      </div>
      <div class="col-md-2 col-sm-4 col-8 pt-4 pb-2">
        <h3>Victoria Plange <a class="text-primary" href="https://www.linkedin.com/in/victoria-sarah-plange/"><i class="fab fa-linkedin"></i></a></h3>
        <p>Operations Lead</p>
      </div>
    </div>
    
   
    
    
  </body>
    {% endblock %}