
{% extends "base.html" %}
{% block initial_content %}
{% load static %}
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'images/home_bag.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="">
            <h3 class="text-dark text-center font-weight-bold pb-3"  style=" float:left;">Your New Career in Analytics Starts Here</h3>
          </div> 
        </div>
        <!--
        <div class="carousel-caption d-md-none carousel-caption2 row">
          <div class="">
            <p class="text-dark text-left font-weight-bold"  style=" float:left;">Your New Career in Analytics Starts Here</p>
          </div> 
        </div>
        -->
      </div>
    </div>
  </head>
  <body>
    <div style="min-height:400px;" class="bg-light ">
      <div class="container">
        <h3 class="text-center font-weight-bold p-5"> Get Up to Speed on Enterprise-Level, Next-Gen, and Niche Technologies </h3>
        <div class="row">
            <div class="col-sm-4 col-12">
              <div class="d-flex justify-content-center">
                <i class="fas fa-user-circle fa-3x shadow p-3 mb-5 bg-white rounded rounded-circle" style="color:#dc3545;"></i>
              </div>
              <div class="row">
                <div class="d-flex justify-content-center col-12 p-1">
                  <h3 class="text-center text-danger"> Recruit</h3>
                </div>
                <p class="text-center font-weight-low p-2">We’re very selective, welcoming the most ambitious and forward-looking Fellows into the exciting Blossom network.</p>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="d-flex justify-content-center">
                <i class="fas fa-book-open fa-3x shadow p-3 mb-5 bg-white rounded rounded-circle" style="color:#dc3545;"></i>
              </div>
              <div class="row">
                <div class="d-flex justify-content-center col-12 p-1">
                  <h3 class="text-center text-danger"> Develop</h3>
                </div>
                <p class="text-center font-weight-low p-2">Through our intensive training and leadership development, we turn you into a world-class analytics professional.</p>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="d-flex justify-content-center">
                <i class=" fas fa-rocket fa-3x   shadow p-3 mb-5 bg-white rounded rounded-circle" style="color:#dc3545;"></i>
              </div>
              <div class="row">
                <div class="d-flex justify-content-center col-12 p-1">
                  <h3 class="text-center text-danger"> Deploy</h3>
                </div>
                <p class="text-center font-weight-low p-2" style="">We deliver world-class analytics professionals fast, so you can partake in the global economy.</p>
              </div>
            </div>
        </div>
        
        <!--- <h1 class="pt-5"> In Ghana, 250,000 college grads enter the job market each year, but only 2%, or 5,000, find private-sector jobs (The Ghana Living Standards Survey) — a pattern that is similar throughout Africa. This is commonly attributed to the limited focus on student’s development of practical skills on the university level, which means many graduate ill-prepared to meet the demands of the labor market.</blockquotes>
        <i class="fas fa-times-circle" style="color:red"></i> --->
      </div>
    </div>

    <div class="parallax d-none d-sm-block"></div>
    
    <img class="img-fluid d-sm-none" src="{% static 'images/parallax_redshirt.jpg' %}"> 
    
    <div class="bg-light">
      <div class="container">
        <h3 class="text-center font-weight-bold p-5 "> What our graduates are saying about us</h3>
        <div class="row">
          <div class="col-12 col-sm-4">
            <div class="container">
              <p class="text-center"><img src="{% static 'images/philemon.png' %}" class="img-fluid" alt="Responsive image" style="height:200px; width:200px;"></p>
              <div class="card-body">
                <blockquote class="blockquote mb-2">
                  <p class=" border-right pr-1">Coming from an Actuarial background, Blossom Academy has given me  a broader knowledge of what can be done with data in the finance and insurance industry. I'm much better prepared to work with data than before.</p><p class="text-center"><i class="fas fa-quote-right "></i></p>
                  <footer class="blockquote-footer text-center">Philemon A.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="container">
              <p class="text-center"><img src="{% static 'images/bridget.png' %}" class="img-fluid " alt="Responsive image" style="height:200px;width:200px;"></p>
              <div class="card-body">
                <blockquote class="blockquote mb-2">
                  <p class=" border-right">Thanks to Blossom Academy,  I have gotten a step by step training in programming in R and Python plus a deeper understanding of working with large data sets in machine learning. Now almost perfect prediction can be made.</p><p class="text-center"><i class="fas fa-quote-right "></i></p>
                  <footer class="blockquote-footer text-center">Bridget G.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="container pb-5">
              <p class="text-center"><img src="{% static 'images/sammy.png' %}" class="img-fluid " alt="Responsive image" style="height:200px; width:200px;"></p>
              <div class="card-body">
                <blockquote class="blockquote mb-2">
                  <p class=" border-right">Until now my idea of "making the world a better place" was building 'that app' but after being introduced to Machine Learning and Analytics, I now know better.</p><p class="text-center"><i class="fas fa-quote-right "></i></p>
                  <footer class="blockquote-footer text-center">Samuel A.</footer>
                </blockquote>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
    
    <div class="container-fluid p-0 m-0" style=' min-height:130px; background-color: #db1d2bff;'>
        <h3 class="text-center text-light font-weight-bold pt-4"> Ready to Blossom?</h3>
        <a href="{% url 'fasttrack' %}"><p class="text-center"><button type="button" class="btn btn-outline-light btn-lg" style="border-radius: 50px;">Learn More<i class="fas fa-chevron-right p-2"></i></button></p></a>
    </div>
    
    

    <div class="container" style="min-height: 150px;">
      <h3 class="text-center font-weight-bold"> In the News</h3>
      <div class="row pt-2">

        <div class="col-sm-6 col-md-2 col-12">
          <div class="container pt-4">
            <a href="https://www.howwemadeitinafrica.com/startup-snapshot-ghanaian-company-training-a-new-generation-of-data-scientists/62742/" target="_blank"><p class="text-center"><img src="{% static 'images/howwemadeit.jpg' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:130px;"></p></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-12">
          <div class="container pt-4">
            <a href="https://www.decentjobsforyouth.org/news-detail/26" target="_blank"><p class="text-center"><img src="{% static 'images/jobs4youth.png' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-12">
          <div class="container pr-4 pt-5">
            <a href="http://www.itnewsafrica.com/2018/08/how-blossom-academy-nurtures-data-science-talent-in-west-africa/" target="_blank"><p class="text-center"><img src="{% static 'images/itnews.gif' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-12">
          <div class="container pl-5">
            <a href="http://disrupt-africa.com/2018/08/data-science-talent-accelerator-launched-in-ghana/" target="_blank"><p class="text-center"><img src= "{% static 'images/disrupt_africa.png' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-12">
          <div class="container pt-5 pr-1">
            <a href="http://ventureburn.com/2018/08/ghana-data-science-academy/" target="_blank"><p class="text-center"><img src="{% static 'images/ventureburn.jpg' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>

      </div>
    </div>
    
{% endblock %}
