{% extends "base.html" %}
{% block initial_content %}
{% load static %}

<style>
    .carousel-caption {
      right: 40%;
      left: auto;
  }
</style>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{%static 'images/background_blossom.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="">
            <h1 class=" text-center font-weight-bold display-2" style="color:black;"><u>FAQs</u></h1>
          </div> 
        </div>
      </div>
    </div>
  </head>
  <body>
  <div class="container">


<h3 class="font-weight-bold text-center p-3">Applicants FAQ</h3>

<p class="font-weight-bold">What is the application process like?</p>
<p>The Blossom Academy admissions process includes an application, data aptitude tests, program-solving evaluations, and an individual interview. Interviews are conducted over a video-conference using Hangouts. Each stage is evaluated on core competencies and the applicant must receive a minimum passing score to move onto the next stage. The main competencies assessed in applicants during the admissions process are leadership potential, critical thinking, communication, and our core values; G.R.I.T (Grit, Resourcefulness, Integrity, and Time Management). 
</p>

<p class="font-weight-bold">Can I apply if I do not have a college degree?</p>
<p>Blossom Academy is a program focused on empowering motivated and ambitious people to launch into a meaningful career. While we have tailored the program to those who have completed a college degree, we also welcome final year and masters students. All backgrounds are welcome however, we have a strong preference for applicants with backgrounds in statistics, software engineering, and actuarial science.</p> 

<p class="font-weight-bold">Can I re-apply to Blossom Academy if I’m not admitted the first time?</p>
<p>Yes. Applicants are welcome to reapply to Blossom Academy if they are not admitted during a previous application period. We believe that talent and skills can improve over time, so repeat applicants are treated the same as first-time applicants.</p>

<p class="font-weight-bold">Can I participate in Blossom Academy if I'm from outside of Accra-Ghana?</p>
<p>Yes, but you need to be located within 50 miles of Accra during the Blossom Academy 6-month talent accelerator so you can make it to the bi-weekly meetings.</p>

<p class="font-weight-bold">If I'm accepted, how do I confirm my spot?</p>
<p>Upon notification of acceptance, all students have two weeks to confirm their spot. This is done by signing your employment agreement and submitting a $250.00 non-refundable deposit (to be clear this is not an additional charge, it is instead credited towards your subsequent payments after the program).</p>

<p class="font-weight-bold">What are the subsequent payments after the program?</p>
<p> Once you are earning a salary or generating revenue, you enter into a three-year agreement where you pay a portion of your income (up to $750.00) to help give other talented young people the same opportunity. You only pay once you are earning, so your success is our success!</p>

<p class="font-weight-bold">What are the specific skill sets I'll learn as part of this program?</p>
<p>Blossom Academy focuses on teaching you relevant hard and leadership skills needed to thrive in any 21st century career. Some of the hard skills include analytics and storytelling, descriptive and inferential statistics, Python, and Intermediate SQL. Leadership skills include persuasive communication, giving and receiving feedback, time management, critical problem solving and team dynamics. In addition, you’ll complete Blossom Academy with deep training in your major.</p>

<p class="font-weight-bold">How much of the program is taught online vs. offline?</p>
<p>About 70% of the program is taught online however, you'll primarily engage with your peers in real-time virtual classrooms. The other 30% involves working together in person, which you'll do at orientation and biweekly meetups. You will also participate in frequent virtual and in-person collaboration sessions with your project teammates.</p>

<p class="font-weight-bold">How is the Blossom Academy program structured?</p>
<p>Our program requires your participation as a full-time student, but the time commitment should enable you to complete your academics or hold a separate part-time job if you choose.
Your instructors will be industry experts and leading practitioners.
70% of time on team-based projects.
30% of time in classes and independent projects.
Biweekly in-person meetups for guest lectures and skill development.
Team-based project sprints with classmates on real company challenges.
Week-long breaks between each 6-8 week quarter.
Social gatherings organized to have fun and build lifelong relationships.</p>

<p class="font-weight-bold">Is Blossom Academy an accredited university?</p>
<p>No, we are not an accredited university as this would limit our abilities to create a dynamic curriculum that evolves just as fast as the needs of the industries in which we’re training fellows for jobs. The rules of traditional accreditation focus more on seat time than actual career preparation, and we believe the most important credential we can deliver is not mainly certification, but rather gaining real-world experience.</p>

<p class="font-weight-bold">Does my college credit transfer to Blossom Academy?</p>
<p>No, but this should have no effect on your Blossom Academy experience. Our admissions process allows us to assess your prior learnings.</p>

<p class="font-weight-bold">How many fellows are in each program?</p>
<p>There are 25 fellows per Blossom Academy cohort.</p>

<p class="font-weight-bold">How can I get the most out of my Blossom Academy experience?</p>
<p>The best way to get the most out of your Blossom Academy experience is to fully commit to the program and to your personal development. The more you put into it, the more you’ll reap the rewards. Do the assigned pre-work, participate actively in class discussions, and contribute to group projects. Most important of all, trust the process.</p>

<p class="font-weight-bold">Do I have to live within my cohort’s city to attend Blossom Academy?</p>
<p>The only requirement is that you live within 50 miles of your program's city. Blossom Academy is designed to enable you to live wherever within that area is convenient and affordable, as long as you have easy access to the city to attend your cohort’s orientation, bi weekly meetups, and excursions at local companies at the end of the program.</p>

<p class="font-weight-bold">How often am I expected to be in my program's city?</p>
<p>You and your peers will meet for a two-day kickoff orientation, twice per month for meetups, and again at graduation. We additionally encourage you to get together as needed to better collaborate on group projects and build close friendships with your classmates.</p>

<p class="font-weight-bold">Do you provide housing or meal plans?</p>
<p>No, we do not provide nor require specific housing and meal plans while attending Blossom Academy. This is done intentionally so fellows are not burdened by financial commitments they are unable to meet. We leave it to our fellows to manage the costs of their own housing and meals, just as they will once they start their careers. You may live wherever you'd like as long as you are within 50 miles of your program's city. We also encourage you to eat healthy. Strong nutrition leads to strong minds.</p>

<p class="font-weight-bold">What career will this program prepare me for?</p>
<p>At Blossom Academy, we train you for fulfilling, limitless careers. Our first major, Data Analytics + Business Intelligence, will provide you with the skills and foundation to thrive in (1) a data analytics and business intelligence career field, (2) launching a data-driven startup, or (3) pursuing a higher degree in data science. <p>

<p class="font-weight-bold">Which companies does Blossom Academy partner with?</p>
<p>Blossom Academy partners with high growth startups and multinational corporations focused on serving the needs and wants of African consumers. As you prepare to join the ever evolving workforce or higher academia, you will also be playing an integral role in Africa’s position in the Fourth Industrial revolution. These companies and institutions help advise us on our curriculum and gain early access to our top graduates.</p>

<p class="font-weight-bold">I'm looking to switch careers. Is Blossom Academy a good option for me?</p>
<p>Yes, Blossom Academy is designed to help smart, motivated and ambitious people to get a meaningful career in a data-driven organisation.</p>

<p class="font-weight-bold">Can I enroll in Blossom Academy if I'm not sure what career I want?</p>
<p>Yes, Blossom Academy is open to anyone. You should apply if you are (1) a recent grad who wants to accelerate your career and change your life trajectory (2) passionate, curious problem-solver looking to tackle the biggest challenges in your community, country and continent and (3) excited to grow as a person and professional while developing a network of mentors, employers and leaders.</p>

  </p>
  </div>

{%endblock %}
