{% extends "base.html" %}
{% block initial_content %}
{% load static %}

<style>
    .carousel-caption {
      right: 40%;
      left: auto;
  }
</style>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{%static 'images/faq.png' %}" alt="First slide">
        </div>
        <div class="carousel-caption carousel-caption2 d-none d-md-block row">
          <div class="">
            <h1 class=" text-center font-weight-bold display-2" style="color:black;"><u></u></h1>
          </div> 
        </div>
      </div>
    </div>
  </head>
  <body>wh
  <div class="container">


<h3 class="font-weight-bold text-center p-3">Applicants FAQ</h3>

<p class="font-weight-bold">Can I apply if I do not have a college degree?</p>
<p>Blossom Academy is a program focused on empowering motivated and ambitious people to launch into a meaningful career. All backgrounds are welcome however, we have a strong preference for applicants with quantitative backgrounds, engineering backgrounds, or related disciplines for our Immersive Program. We welcome all backgrounds for our Fast Track Program.</p> 

<p class="font-weight-bold">Can I re-apply to Blossom Academy if I’m not admitted the first time?</p>
<p>Yes. Applicants are welcome to reapply to Blossom Academy if they are not admitted during a previous application period. We believe that talent and skills can improve over time, so repeat applicants are treated the same as first-time applicants.</p>

<p class="font-weight-bold">Can I participate in Blossom Academy if I'm from outside of Accra-Ghana?</p>
<p>Yes, but you need to be located in Accra during the training program so you can fully benefit from the entire fellowship experience.</p>

<p class="font-weight-bold">If I'm accepted, how do I confirm my spot?</p>
<p>Upon notification of acceptance, all students have two weeks to confirm their spot. This is done by signing your enrollment agreement and employment agreement form. Fellows must also submit a refundable deposit.</p>

<p class="font-weight-bold">What are the specific skill sets I'll learn as part of this program?</p>
<p>Blossom Academy focuses on teaching you relevant hard and leadership skills needed to thrive in any 21st century career. Some of the hard skills include analytics and storytelling, descriptive and inferential statistics, Python, and Intermediate SQL. Leadership skills include persuasive communication, giving and receiving feedback, time management, critical problem solving and team dynamics. In addition, you’ll complete Blossom Academy with deep training in your specialization.</p>

<p class="font-weight-bold">How much of the program is taught online vs. offline?</p>
<p>About 40% of the program is taught online however, you'll primarily engage with your peers and professionals in real-time virtual classrooms. The other 60% involves working together in person, which you'll do throughout the week at our HQ.</p>

<p class="font-weight-bold">How is the Blossom Academy program structured?</p>
<p>Our program requires your participation as a full-time student.
Your instructors will be industry experts and leading practitioners.
(1) 80% of time on team-based projects.
(2) 20% of time in classes and independent projects.
(3) Weekly guest lectures, workshops, and leadership skills development.
(4) Team-based project sprints with classmates on real company challenges.
(5) Social gatherings organized to have fun and build lifelong relationships.</p>

<p class="font-weight-bold">Is Blossom Academy an accredited university?</p>
<p>No, we are not an accredited university as this would limit our abilities to create a dynamic curriculum that evolves just as fast as the needs of the industries in which we’re training fellows for. The rules of traditional accreditation focus more on seat time than actual career preparation, and we believe the most important credential we can deliver is not mainly certification, but rather gaining real-world experience.</p>

<p class="font-weight-bold">Does my academic credit transfer to Blossom Academy?</p>
<p>No, but this should have no effect on your Blossom Academy experience. Our admissions process allows us to assess your prior learnings.</p>

<p class="font-weight-bold">How many Fellows are in each program?</p>
<p>We maintain a cohort ranging anywhere from 20 to 25 Fellows. We've found that keeping the cohorts small helps our instructors provide utmost value to our Fellows.</p>

<p class="font-weight-bold">How can I get the most out of my Blossom Academy experience?</p>
<p>The best way to get the most out of your Blossom Academy experience is to fully commit to the program and to your personal development. The more you put into it, the more you’ll reap the rewards. Do the assigned pre-work, participate actively in class discussions, and contribute to group projects. Most important of all, trust the process.</p>

<p class="font-weight-bold">Do you provide housing or meal plans?</p>
<p>No, we do not provide nor require specific housing and meal plans while attending Blossom Academy. This is done intentionally so Fellows are not burdened by financial commitments they are unable to meet. We leave it to our Fellows to manage the costs of their own housing and meals, just as they will once they start their careers. We also encourage you to eat healthy. Strong nutrition leads to strong minds.</p>

<p class="font-weight-bold">What career will this program prepare me for?</p>
<p>At Blossom Academy, we train you for fulfilling, limitless careers. We offer several specializations under Data Science, which positions our graduates to work as Data Analysts, Business Intelligence Developers, Machine Learning Engineers, and many more. <p>

<p class="font-weight-bold">Which companies does Blossom Academy partner with?</p>
<p>Blossom Academy partners with high growth startups and multinationals operating across Africa or globally. As you prepare to join the ever evolving workforce or launch your startup, you will also be playing an integral role in Africa’s position in the Fourth Industrial revolution. Our partner companies help advise us on our curriculum and gain early access to our top employees from our analytics division.</p>

<p class="font-weight-bold">I'm looking to switch careers. Is Blossom Academy a good option for me?</p>
<p>Yes, Blossom Academy is designed to help smart, motivated and ambitious people to launch a meaningful career in a data science.</p>

<p class="font-weight-bold">Can I enroll in Blossom Academy if I'm not sure what career I want?</p>
<p>Yes, Blossom Academy is open to anyone. You should apply if you are (1) a recent grad who wants to accelerate your career and change your life trajectory (2) passionate, curious problem-solver looking to tackle the biggest challenges in your community, country and continent and (3) excited to grow as a person and professional while developing a network of mentors, employers, and leaders.</p>

  </p>
  </div>

{%endblock %}
