{% extends "base.html" %}
{% block initial_content %}
{% load static %}
<style>
  .carousel-caption {
      top: 30%;
      bottom: auto;
      left: 2%;


  }
  
  .carousel-caption2 {
     top: 25%;
     bottom: auto;
     left: 2%;


 }
</style>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'images/joinjoin.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="col-4">
            <h3 class="text-left font-weight-bold" style="float:left; color:black; ">At Blossom Academy, we give you the analytical and leadership skills required to launch a meaningful career in data science. Our Fast Track program is focused on Introduction to Machine Learning.</h3>
            <div class="row col-12">
              <a href="https://blossomdata.typeform.com/to/egPSh5"><p class="text-center"><button type="button" class="btn btn-danger btn-lg">Apply Now<i class="fas fa-chevron-right p-2"></i></button></p></a>
            </div>
          </div>
        </div>
        <!--
        <div class="carousel-caption d-md-none carousel-caption2 row">
          <div class="col-10">
            <p class="text-left font-weight-bold" style="float:left; color:black; ">At Blossom Academy, it’s more than a job—we give you the technical and leadership skills needed to launch a meaningful data-driven career. Our major is Data Analytics + Machine Learning.</p>
            <div class="row col-12">
              <a href="https://blossomacademy1.typeform.com/to/jswgK4"><p class="text-center"><button type="button" class="btn btn-danger btn-sm">Apply Now<i class="fas fa-chevron-right p-2"></i></button></p></a>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </head>
  <body class="m-0 p-0" style="">

    
    <div style="min-height:250px;" class="bg-light">
      <div class="container border-top p-5">
        <h3 class="text-center text-danger font-weight-bold p-2">Don’t Just Take Our Word For It </h3>
        <p class="text-center"> Want to know what it's really like at Blossom Academy? Hear about it directly from our graduates.</p>
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-12">
            <iframe class="embed-responsive-item pl-1 pt-3" src="https://www.youtube.com/embed/mRCX8WFaV7U" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-12">
            <iframe class="embed-responsive-item pl-1 pt-3" src="https://www.youtube.com/embed/MypGug_lVJ8" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-12">
            <iframe class="embed-responsive-item pl-1 pt-3" src="https://www.youtube.com/embed/3gxjilWzn_g" allowfullscreen></iframe>
          </div> 
        </div>
      </div>

    </div>

    <div class="container pb-4">
        <div style="min-height:400px;" class="">
          <div class="container border-top p-5 ">
            <h3 class="text-center text-danger font-weight-bold pb-3"> Our Promise</h3>
            <p class="text-center"> Acquire the complex skills of a 21st century business strategist by working through a series of realistic projects. You will learn how to apply methods of data analytics to predict buying trends, learn about data mining using R and Python, develop advanced visualization techniques to make your data sets both intuitive and beautiful, and many more. You will also build and deliver convincing presentations to "sell" your ideas. This training program is also supplemented by a series of guest lectures, featuring the experiences and insights of internationally-recognized executives and successful entrepreneurs.</p>
          </div>

          <div class="card  text-center" >
            <div class="card-body">
              <nav class="bg-white nav justify-content-center">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active text-danger" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Competitive Peer Learning</a>
                  <a class="nav-item nav-link text-danger" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mentor-Based Learning</a>
                  <a class="nav-item nav-link text-danger" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Project-Based Learning</a>
                </div>
              </nav>
              <div class="tab-content pt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">You will be placed in small groups to work together as a team and complete academic goals; which has goals at the individual and group level. These groups are formerly known as ‘Blossomists.’</div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">A mentor will be available at all times during office hours to provide help and evaluate your work. We offer you a supportive and engaging work environment, where you can feel free to make mistakes and learn from your experiences. </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Our learning methodology focuses 100% on “project-based learning.” You will work on projects similar to those you’ll find on the job and complete them using the same tools used by professionals currently in data science positions. </div>
              </div>
            </div>  
          </div>

        </div>
    </div> 
    

    
    <div class="container-fluid p-0 m-0" style= "min-height:130px; background-color: #db1d2bff; background-color: #db1d2bff;">
      <h3 class="text-center text-light font-weight-bold pt-4 pb-2">Ready to Launch Your Career in Data Science?</h3>
        <div class="text-center pt-1 pb-2">
          <a href="https://datalab.cc/blossom" class="text-center pr-2"><button type="button" class="btn btn-outline-light btn-lg" style="border-radius: 50px;">Free Online Lessons<i class="fas fa-chevron-right p-2"></i></button></a>
          <a  href="{% static 'images/19_syllabus.pdf' %}" class="text-center pl-2"><button type="button" class="btn btn-outline-light btn-lg" style="border-radius: 50px;">Download Syllabus<i class="fas fa-chevron-right p-2"></i></button></a>
        </div>
    </div>




    <div class="container pt-4" style="min-height: 150px;">
      <h3 class="text-center font-weight-bold text-danger"> Our Fellows Work on Projects from Companies Like...</h3>
      <div class="row pt-2">
        <div class="col-sm-0 col-md-1 col-0"></div>  
        <div class="col-sm-3 col-md-1 col-12 pt-4">
          <div class="container pb-1 p-5">
            <a><p class="text-center"><img src="{% static 'images/ibm.png' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:130px;"></p></a>
          </div>
        </div>
        <div class="col-sm-3 col-md-1 col-12"></div>
        <div class="col-sm-3 col-md-1 col-12">
          <div class="container pb-1 p-5">
            <a><p class="text-center"><img src="{% static 'images/intel.png' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>
        <div class="col-sm-3 col-md-1 col-12"></div>
        <div class="col-sm-3 col-md-1 col-12 pt-4">
          <div class="container pb-1 p-5">
            <a><p class="text-center"><img src= "{% static 'images/coke.png' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>
        <div class="col-sm-3 col-md-1 col-12"></div>
        <div class="col-sm-3 col-md-1 col-12">
          <div class="container pb-1 p-5">
            <a><p class="text-center"><img src="{% static 'images/unilever.png' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>
        <div class="col-sm-3 col-md-1 col-12"></div>
        <div class="col-sm-3 col-md-1 col-12">
          <div class="container pb-1 p-5">
            <a><p class="text-center"><img src="{% static 'images/huawei.dms' %}" class="img-fluid" alt="Responsive image" style="max-height:100px; max-width:150px;"></p></a>
          </div>
        </div>
        <div class="col-sm-0 col-md-1 col-0"></div>  
      </div>
    </div>

    
  </body>
{% endblock %}
