{% extends "base.html" %}
{% block initial_content %}
{% load static %}
<style>
  .carousel-caption {
      top: 30%;
      bottom: auto;
      left: 2%;


  }
  
  .carousel-caption2 {
     top: 25%;
     bottom: auto;
     left: 2%;


 }
</style>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'images/joinjoin.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="col-4">
            <h3 class="text-left font-weight-bold" style="float:left; color:black; ">At Blossom Academy, we give you the analytical and leadership skills needed to launch a meaningful data-driven career. Our first major is Data Analytics + Business Intelligence.</h3>
            <div class="row col-12">
              <a href="https://blossomacademy1.typeform.com/to/jswgK4"><p class="text-center"><button type="button" class="btn btn-danger btn-lg">Apply Now<i class="fas fa-chevron-right p-2"></i></button></p></a>
            </div>
          </div>
        </div>
        <!--
        <div class="carousel-caption d-md-none carousel-caption2 row">
          <div class="col-10">
            <p class="text-left font-weight-bold" style="float:left; color:black; ">At Blossom Academy, it’s more than a job—we give you the technical and leadership skills needed to launch a meaningful data-driven career. Our first major is Data Analytics + Business Intelligence.</p>
            <div class="row col-12">
              <a href="https://blossomacademy1.typeform.com/to/jswgK4"><p class="text-center"><button type="button" class="btn btn-danger btn-sm">Apply Now<i class="fas fa-chevron-right p-2"></i></button></p></a>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </head>
  <body class="m-0 p-0" style="">

    
    <div style="min-height:250px;" class="bg-light">
      <div class="container border-top p-5">
        <h3 class="text-center text-danger font-weight-bold p-2">Don’t Just Take Our Word For It </h3>
        <p class="text-center"> Want to know what it's really like at Blossom Academy? Hear about it directly from our fellows.</p>
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-12">
            <iframe class="embed-responsive-item pl-1 pt-3" src="https://www.youtube.com/embed/keQqecr4bjw" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-12">
            <iframe class="embed-responsive-item pl-1 pt-3" src="https://www.youtube.com/embed/dwqHiH4EM7E" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-12">
            <iframe class="embed-responsive-item pl-1 pt-3" src="https://www.youtube.com/embed/Xd3_WGGsYbY" allowfullscreen></iframe>
          </div> 
        </div>
      </div>
    </div>
    
    <div style="min-height:200px;" class="">
      <div class="container border-top p-5 ">
        <h3 class="text-center text-danger font-weight-bold pb-3"> Our Promise</h3>
        <p class="text-center"> There are many ways to launch your journey as a data-driven leader however, we’ve identified a combination of (1) competitive peer learning, (2) mentor-based learning, and (3) actual industry experience as the three game-changers for sustainable capacity-building. This 6-month training program is supplemented by a series of guest lectures, featuring the experiences and insights of internationally-recognized executives and successful entrepreneurs.</p>
      </div>
    </div>
    

    
    <div class="container-fluid p-0 m-0" style= "min-height:130px; background-image: url('{%static "images/background_blossom.jpg" %}');">
      <h3 class="text-center text-light font-weight-bold pt-4 pb-2">Ready to Launch Your Data-Driven Career?</h3>
        <div class="text-center pt-1 pb-2">
          <a href="https://blossomacademy1.typeform.com/to/jswgK4" class="text-center"><button type="button" class="btn btn-outline-light btn-lg" style="border-radius: 50px;">Apply Now<i class="fas fa-chevron-right p-2"></i></button></a>
        </div>
      </div>
    
  </body>
{% endblock %}
