{% extends "base.html" %}
{% block initial_content %}
{% load static %}

<style>
    .carousel-caption {
      bottom: 26%;


  }
</style>
    <div id="carouselExampleIndicaptors" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{%static 'images/apartner2.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="">
            <h3 class="text-center font-weight-bold" style="float:left; color:black; bottom: 38%;">We completely redefine how technology startups find, build, retain and grow their future data science talent.</h3>
            <div class="">
              <a href="https://blossomacademy1.typeform.com/to/FiIxqO" style="" class="text-center"><p class="text-center"><button type="button" class="btn btn-light btn-lg">Learn More<i class="fas fa-chevron-right p-2"></i></button></p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </head>
  <body class="m-0 p-0 bg-light">
    
    <h3 class="text-center  font-weight-bold p-5"> Our Selection Process</h3>
    <div class="row">
      <div class="col-sm-6 col-12 d-flex align-items-center">
        <img src="{%static 'images/blossom5.jpeg' %}" class="img-fluid rounded" alt="Responsive image" style=" max-height: 500px;">
      </div>
      <div style="min-height:250px;" class="bg-light col-sm-6 col-12">
        <div class="container p-5">
          <div class="row">
            <h3 class="font-weight-bold">1. Rigorous aptitude tests </h3>
            <p> Our selection process starts with an aptitude test in collaboration with IBM Big Data University to assess data aptitude. </p>
          </div>
          
          <div class="row pt-2">
            <h3 class="font-weight-bold">2. Technical case studies  </h3>
            <p>The top 10% of candidates are invited to work on two case studies, with one being technical to assess grit.</p>
          </div>
          
          <div class="row pt-2">
            <h3 class="font-weight-bold">3. Programming evaluations </h3>
            <p> The top 10% of candidates from the technical case studies are invited to take self-paced programming courses to assess their programming expertise. </p>
          </div>
          
          <div class="row pt-2">
            <h3 class="font-weight-bold">4. In-Person interviews </h3>
            <p> Our in-person interviews, which mainly focuses on leadership skills and professional etiquette, guides us in recruiting our initial cohort for training. Overall, we select about 0.7% of applicants. </p>
          </div>

        </div>
      </div>
    </div>
    
    
    
    <div style="min-height:250px;" class="bg-white p-4">
      <div class="container border-top">
        <h3 class="text-center font-weight-bold p-5">Why Blossom? </h3>
        <p class="text-center"> We empower you to visualize your data to extract meaningful insights, to personalize your products and services, and to reduce costs associated with recruiting, training, and mis-hiring.</p>
      </div>
    </div>
    
    <div class="row bg-white">
        <div class="col-4">
            <img src="{%static 'images/imgpartner1.jpeg' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto; width:auto; ">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold"> Hyper-Personalized Talent Delivery Program </h3>
                <p class="" style=""> Our unique training program lets us hire, develop, and deploy top talent well versed in industry-specific and next-gen technologies. Through continuous and intensive training focused on simulated, real-world issues, Blossom Academy fellows are able to quickly integrate into your existing technology teams.</p>    
            </div>
        </div>
    </div>
    <div class="pt-5 bg-white">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <div class="container ">
                <h3 class="font-weight-bold pl-4"> Next-Gen Technologies Expertise </h3>
                <p class="pl-4" style=""> We bring deep knowledge of and experience in all the latest startup-level technologies—and we’re constantly refining our program to incorporate the latest technology trends and enhancements in project delivery.</p>   
                </div>
            </div>
            <div class="col-4">
                <img src='{%static "images/imgpartner2.jpeg" %}' class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
            </div>
        </div>
    </div>
    
    <div class="row pt-5 pb-5 bg-white">
        <div class="col-4">
            <img src="{%static 'images/imgpartner3.jpeg' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold"> Better Control of Your Talent Pipeline</h3>
                <p class="" style="">Because our talent delivery program can train people faster and more cost-effectively, we can help you ramp up quickly and integrate expert teams in large numbers right away. With support from our senior data science team, you can now focus on your business. </p> 
            </div>
        </div>
    </div>
    
    
 
    <div class="container-fluid p-0 m-0" style= "min-height:130px; background-image: url('{% static "images/background_blossom.jpg" %}');">
      <h3 class="text-center text-light font-weight-bold pt-3">Move your business forward.</h3>
        <div class="text-center pt-1">
          <a href="https://blossomacademy1.typeform.com/to/FiIxqO" class="text-center"><button type="button" class="btn btn-outline-light btn-lg text-center" style="border-radius: 50px;">Learn More<i class="fas fa-chevron-right p-2"></i></button></a>
        </div>
      </div>

    
    
    
    
    
  </body>
{% endblock %}