{% extends "base.html" %}
{% block initial_content %}
{% load static %}

<style>
    .carousel-caption {
      bottom: 26%;


  }
  
    .carousel-caption2 {
      top:25%;
    }
</style>
    <div id="carouselExampleIndicaptors" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="w-100 d-none d-sm-block" src="{%static 'images/apartner1.jpg' %}" alt="First slide">
          <img class="d-block w-100 d-sm-none" src="{%static 'images/apartner.png' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row" >
          <div class="">
            <h3 class="text-center font-weight-bold" style="float:left; color:black; bottom: 38%;">We completely redefine how African youths are skilled and prepared for freelance analytics job opportunities throughout the world.</h3>
            <div class="">
              <a href="https://blossomdata.typeform.com/to/XexyHO" style="" class="text-center"><p class="text-center"><button type="button" class="btn btn-light btn-lg">Learn More<i class="fas fa-chevron-right p-2"></i></button></p></a>
            </div>
          </div>
        </div>
        <!--
        <div class="carousel-caption carousel-caption2 d-md-none row" >
          <div class="">
            <p class="text-left font-weight-bold" style="float:left; color:black;">We completely redefine how analytics enthusiasts and professionals across Ghana are upskilled and prepared for full-time meaningful careers and on-demand job opportunities in data science.</p>
          </div>
        </div>
        -->
      </div>
    </div>
  </head>
  <body class="m-0 p-0 bg-light">
    
    <h3 class="text-center  font-weight-bold p-5"> Our Selection Process</h3>
    <div class="row">
      <div class="col-sm-6 col-12 d-flex align-items-center">
        <img src="{%static 'images/blossom5.jpeg' %}" class="img-fluid rounded" alt="Responsive image" style=" max-height: 500px;">
      </div>
      <div style="min-height:250px;" class="bg-light col-sm-6 col-12">
        <div class="container p-5">
          <div class="row">
            <h3 class="font-weight-bold">1. Online Applications </h3>
            <p> After submitting your application, you will get acknowledgement receipt via email from the Blossom team. Your application will be put into a screening process queue for a review. </p>
          </div>
          
          <div class="row pt-2">
            <h3 class="font-weight-bold">2. Rigorous aptitude tests  </h3>
            <p> This part of the process is entirely online where applicants express their interest and motivations for joining the program. The process also tests personality, data aptitude, and values to evaluate fit for the program. </p>
          </div>
          
          <div class="row pt-2">
            <h3 class="font-weight-bold">3. In-Person interviews </h3>
            <p> The final step is a virtual or face to face interview session with our team. Through our interviews, we assess our five core values; Grit, Resourcefulness, Integrity, First Principles Thinking, and Time Management. </p>
          </div>

        </div>
      </div>
    </div>
    
    
    
    <div style="min-height:250px;" class="bg-white p-4">
      <div class="container border-top">
        <h3 class="text-center font-weight-bold p-5">Why Blossom Academy? </h3>
        <p class="text-center"> We provide you with the resources and tools required to be skilled and ready for freelance analytics job opportunities. Our most successful graduates are hired directly by our analytics firm - Blossom Analytics – where they build innovative data products for clients. <br><br> Although you work on freelance projects throughout the world, we will continue to engage you in a vast network of talented analytics professionals across Africa. We also connect you with a like-group of your local peers and bring you original hosted events. At Blossom, we strive to create a truly authentic community of African digital nomads.</p>
      </div>
    </div>
    
    <div class="row bg-white">
        <div class="col-4">
            <img src="{%static 'images/manu.jpg' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto; width:auto; ">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold"> Do Amazing Work And Solve Interesting Problems </h3>
                <p class="" style=""> Acquire the complex skills of a 21st century business strategist by working through a series of realistic projects. You will learn how to apply methods of data analytics to predict buying trends, learn about data mining using R and Python, develop advanced visualization techniques to make your data sets both intuitive and beautiful, and many more. </p>    
            </div>
        </div>
    </div>
    <div class="pt-5 bg-white">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <div class="container ">
                <h3 class="font-weight-bold pl-4"> Join A Connected, Engaged Community </h3>
                <p class="pl-4" style=""> Blossom lets you connect with and learn from far more people than you could by working at any one company. You also get the added support of members in the Blossom network that you can engage and troubleshoot with while working on projects. Being a part of our network comes with a series of Q&As, featuring the experiences and insights of internationally-recognized executives and successful entrepreneurs. </p>   
                </div>
            </div>
            <div class="col-4">
                <img src='{%static "images/jephpod.jpg" %}' class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
            </div>
        </div>
    </div>
    
    <div class="row pt-5 pb-5 bg-white">
        <div class="col-4">
            <img src="{%static 'images/blfellow.jpg' %}" class="img-fluid rounded" alt="Responsive image" style="height:auto;width:auto;">
        </div>
        <div class="col-8 d-flex align-items-center">
            <div class="container">
                <h3 class="font-weight-bold"> Enjoy the Perks of Digital Nomads</h3>
                <p class="" style=""> The benefits of becoming a digital nomad are vast! This includes becoming your own boss, work from anywhere on your own schedule, less stressful working environment, opportunity to travel and see the world, new and exciting challenges, and be a part of a global community. </p> 
            </div>
        </div>
    </div>
    
    
 
    <div class="container-fluid p-0 m-0" style= "min-height:130px; background-color: #db1d2bff;">
      <h3 class="text-center text-light font-weight-bold pt-3">Increase Your Earning Potential.</h3>
        <div class="text-center pt-1">
          <a href="https://blossomdata.typeform.com/to/XexyHO" class="text-center"><button type="button" class="btn btn-outline-light btn-lg text-center" style="border-radius: 50px;">Inquire Now<i class="fas fa-chevron-right p-2"></i></button></a>
        </div>
      </div>

    
    
    
    
    
  </body>
{% endblock %}
