{% extends "base.html" %}
{% block initial_content %}
{% load static %}

<style>
    .carousel-caption {
      right: 30%;
      left: auto;
  }
</style>

    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{%static 'images/privacy_p.png' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="">
            <h1 class=" text-left font-weight-bold display-2"  style="float:left; color:black;"><u>Privacy Policy</u></h1>
          </div> 
        </div>
      </div>
    </div>
  </head>
  <body>
  <div class="container">
    <h3 class="font-weight-bold text-center p-4"> Privacy Policy</h3>

    <p>

We at blossomacademy.co (“blossomacademy.co, We, Us, Our”) know that our users (“you,” “your”) care about how your personal information is used and shared, and we take your privacy seriously. Please read the following to learn more about our Privacy Policy. By visiting or using the blossomacademy.co site (the “Website”) or any related services offered byblossomacademy.co (the “Services”) in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.</p>

<p class="font-weight-bold">What does this privacy policy cover?</p>

<p>This Privacy Policy covers our treatment of personally identifiable information (“Personal Information”) and other information that we gather when you are accessing or using our Website. This policy does not apply to the practices of companies that we do not own or control, or to individuals that we do not employ or manage.</p>

<p class="font-weight-bold">What information does company collect?</p>

<p>We gather various types of Personal Information from our users, as explained more fully below. We may use this Personal Information to personalize and improve our services, to contact users, to fulfill your requests for certain products and services, to analyze how users utilize the Website, and as otherwise set forth in this Privacy Policy. Upon permission, we may share certain types of Personal Information with third parties. We collect the following types of information:</p>

<p class="font-weight-bold">A. Information You Provide to Us:</p>

<p>We receive and store any information you knowingly provide to us. For example, we collect Personal Information such as your name, email address, physical address, browser information, and location that you carry out through the Website during registration. If you contact us, we may keep a record of that correspondence. You can choose not to provide us with certain information, but then you may not be able to register with us.

We display personal testimonials of satisfied Blossom Academy participants and employee on our site in addition to other endorsements. If you wish to update or delete your testimonial, you can contact us at info@blossomacademy.co</p>

<p class="font-weight-bold">B. Information Collected Automatically:</p>

<p>Whenever you interact with our Website, we automatically receive and record information on our server logs from your browser including your IP address, “cookie” information, and the page you requested. “Cookies” are identifiers we transfer to your computer or mobile device that allow us to recognize your browser or mobile device and tell us how and when pages in our Website are visited and by how many people. You may be able to change the preferences on your browser or mobile device to prevent or limit your computer or device’s acceptance of cookies, but this may prevent you from taking advantage of some of our Website’s features. Also, if you click on a link to a third party website, such third party may also transmit cookies to you. This Privacy Policy does not cover the use of cookies by any third parties.

Our Website includes social media features, such as the Facebook, Twitter and LinkedIn buttons and widgets. These features may collect your IP address, which page you are visiting on our Website, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our Website. Your interactions with these features are governed by the privacy policy of the company providing it.</p>

<p class="font-weight-bold">Will company share any of the personal information it receives?</p>

<p>We neither rent nor sell your Personal Information in personally identifiable form to anyone other than potential employers interested in being an employer partner. Your portfolio and visual resume may be shared with employer partners and/or made public for potential employer partners to view your work.

You do have the option to opt out of sharing your portfolio.</p>

<p class="font-weight-bold">Is personal information about me secure?</p>

<p>The Website may contain links to other sites. We are not responsible for the privacy policies and/or practices on other sites. When following a link to another site you should read that site’s privacy policy.</p>

<p class="font-weight-bold">What personal information can I access?</p>

<p>Through your account settings, you may access, and, in some cases, edit or delete the information you have provided to us. The information you can view, update, and delete may change as the Website changes. If you have any questions about viewing or updating information we have on file about you, please contact us at info@blossomacademy.co.</p>

<p class="font-weight-bold">Changes to this privacy policy</p>

<p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make material changes in the way we use Personal Information, we will notify you by posting an announcement on our Website or sending you an email prior to the change becoming effective. You are bound by any changes to the Privacy Policy when you use the Website after such changes have been first posted.</p>

<p class="font-weight-bold">Questions or Concerns</p>

<p class="pb-2">If you have any questions or concerns regarding our privacy policies, please send us a detailed message to info@blossomacademy.co. We will make every effort to resolve your concerns.</p>
  </div>
    

{%endblock %}