{% extends "base.html" %}
{% block initial_content %}
{% load static %}

<style>
    .carousel-caption {
      right: 20%;
      left: auto;
  }
</style>

    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" style="max-height: 550px;">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{%static 'images/terms_s.png' %}" alt="First slide">
        </div>
        <div class="carousel-caption d-none d-md-block row">
          <div class="">
            <h1 class="text-left font-weight-bold display-2"  style=" float:left; color:black;"><u></u></h1>
          </div> 
        </div>
      </div>
    </div>
  </head>
  <body>
  <div class="container">
    <h3 class="font-weight-bold text-center p-4"> Terms & Services </h3>
<p>
 

These terms and conditions (“Terms and Conditions”) govern your use of this website blossomacademy.co (“Website”).

By using this Website and its services you will be bound by these Terms and Conditions and the blossomacademy.co’s privacy policy which can be found here (“privacy policy”). If you do not agree to these Terms and Conditions and/or the privacy policy you must not use this Website or any service provided via it. Use of blossomacademy.co’s Website and Services (as defined below) is expressly conditioned upon your assent to all the terms and conditions of this agreement, to the exclusion of all other terms.
</p>
<p class="font-weight-bold">Introduction</p>

<p>Welcome to blossomacademy.co. These terms and conditions apply to the services available from and related to the domain and sub-domains of the Website (together with the Website, the “Services”).

For as long as the blossomacademy.co continues to offer the Services, it shall provide and seek to update, improve and expand the Services. As a result, blossomacademy.co allows you to access the Website as it may exist and be available on any day and it has no other obligations, except as expressly stated in these Terms and Conditions. blossomacademy.co may modify, replace, refuse access to, suspend or discontinue the Website, partially or entirely at blossomacademy.co ’s sole discretion. All of these changes shall be effective upon their posting on the Website or by direct communication to you unless otherwise noted. Your use of the Services following such posting or communication constitutes your acceptance of the terms and conditions of this Agreement as modified.

Nothing in these Terms and Conditions is intended to, or shall be deemed to, establish any partnership or joint venture between any of the parties, constitute any party the agent of another party, nor authorize any party to make or enter into any commitments for or on behalf of any other party.
</p>
<p class="font-weight-bold">Your Use of this Website</p>

<p>You accept and acknowledge the following:
that the Services provided by this Website are for an unpaid experiential project;
you may receive college credits from partnering universities for completing each project through agreements between blossomacademy.co and your university, but the universities reserve the right to give or not to give credits;
blossomacademy.co is not obligated to provide credits;
you are obligated to work for blossomacademy.co for 2 years upon graduation, have no monetary obligations for using this Website and have no liabilities if you discontinue using the Website.
blossomacademy.co is obligated to pay compensation upon employment however, not obligated to offer employment upon completion;

You must not use this Website for anything that is unlawful or is prohibited by these Terms and Conditions and/or any notices elsewhere on this Website.

blossomacademy.co advises that you seek professional advice before relying on any information on this Website. Under no circumstances will Company be liable in any way for any information it provides on the Website or through the Services, including, but not limited to, any errors or omissions in any content and information, including but not limited to text, software, music, sound, photographs, graphics, video or other material (also known as “Content”), or any loss or damage of any kind incurred in connection with use of or exposure to any Content posted, emailed, accessed, transmitted, or otherwise made available via the Services.
</p>
<p class="font-weight-bold">When using this Website, you must not do any of the following:</p>

<p>defame, abuse, harass, stalk, threaten or otherwise violate the rights (such as rights of privacy and publicity) of others;
publish, post, distribute or disseminate any defamatory, infringing, obscene, indecent, offensive or unlawful material or information;
upload files that contain viruses or malware, corrupted files or any other similar software or programs that may damage the operation of another’s computer;
attempt to probe, scan or test the vulnerability of any system or network;
impersonate any person or entity, including without limitation any employee or representative of blossomacademy.co;
post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any other user of the Services;
run Maillist, Listserv, any form of auto-responder, or “spam” on the Services, or any processes that run or are activated while you are not logged on to the Website, or that otherwise interfere with the proper working of or place an unreasonable load on the Services’ infrastructure;
decompile, reverse engineer, or otherwise attempt to obtain the source code of the Services; delete any author attributions, legal notices or proprietary designations or labels in any file that is uploaded;
falsify the origin or source of software or other material contained in a file that is uploaded;
advertise or offer to sell any goods or services or conduct or forward surveys, competitions, or chain letters; or
download any file posted by another user of this Website that you know, or reasonably should know, cannot be legally distributed in such manner.

You represent and warrant to Company that you are of legal age to form a binding contract or have your parent’s permission to do so. You also certify that you are legally permitted to use and access the Services and take full responsibility for the selection and use of and access to the Services. This agreement is void where prohibited by law, and the right to access the Services is revoked in such jurisdictions.

You will indemnify and hold Company, its parents, subsidiaries, affiliates, officers, and employees harmless (including, without limitation, from all damages, liabilities, settlements, costs and attorneys’ fees) from any claim or demand made by any third party due to or arising out of your access to the Services, use of the Services, your violation of these Terms and Conditions, or the infringement by you or any third party using your account of any intellectual property or other right of any person or entity.
</p>
<p class="font-weight-bold">Intellectual Property</p>

<p>You acknowledge and agree that all Content provided on the Website or through the Services presented to you by blossomacademy.co is protected by copyrights, trademarks, service marks, patents, or other proprietary rights and laws. You shall abide by all copyright notices, trademark rules, information, and restrictions contained in any Content accessed through the Services, and except as expressly permitted herein, shall not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purposes whatsoever any Content or third party submissions or other proprietary rights not owned by you: (i) without the express prior written consent of the respective owners, and (ii) in any way that violates any third party right.

You acknowledge and agree that you are permitted to review, print and make one copy for your personal use of the Content (and other items displayed on the Website for download), provided that you maintain all copyright and other notices contained in such Content. You shall not store any significant Content in any form.

As part of your project work you will build an online portfolio showcasing your skills, all your blossom academy project work, and past work and school experience. Your online portfolio will be shared with potential employers who may approach you for employment. If you don’t want potential employers to contact you for jobs, you can opt out of this feature from your profile page.

blossomacademy.co tool and materials cannot be used for commercial purposes or used to train others.

When you upload or otherwise submit content to the Website, you give blossomacademy.co a worldwide license to host and store such content. The rights you grant in this license are for the limited purpose of operating the Website and use to improve the Website. This license continues even if you stop using the Website.
</p>
<p class="font-weight-bold">Indemnification</p>

<p>You agree to indemnify, defend and hold harmless blossomacademy.co and each of its respective officers, directors, agents, employees, and assignees from any and all claims, liabilities, expenses and damages, including reasonable attorneys’ fees and costs, made by any third party relating to or arising out of (a) your use or attempted use of the Website in violation of the Terms and Conditions; (b) your violation of any law or rights of any third party, or (c) information that you post or otherwise make available on the Website, including without limitation any claim of infringement or misappropriation of intellectual property or other proprietary rights.
</p>
<p class="font-weight-bold">Termination</p>

<p>Without prejudice to any remedy that blossomacademy.co may have against you, blossomacademy.co may terminate or suspend with immediate effect and without notice your access to and use of this Website and your membership if:

It reasonably believes that you have breached any of these Terms and Conditions;
It is unable to verify the accuracy or validity of any information provided by you;
Or it suspects fraudulent, abusive or illegal activity by you.

Should you object to any of these Terms and Conditions, or any subsequent changes to them, or become dissatisfied with this Website in any way, your only recourse is to immediately discontinue to access or use this Website.
</p>
<p class="font-weight-bold">Honor Code</p>

<p>All participants must agree to abide by the following code of conduct:

I will register for only one account.
My work will be my own work.
I will not make solutions to any questions of the Website available to anyone else. This includes both solutions written by me, as well as any official solutions provided by blossomacademy.co mentors or managers.
I will not engage in any other activities that will dishonestly improve my results or dishonestly improve/hurt the results of others.
</p> 
<p class="font-weight-bold">Amendment to these Terms and Conditions</p>

<p>blossomacademy.co reserves the right to amend and alter these Terms and Conditions and any Content or information contained on the Website at any time. In the event these Terms and Conditions are altered blossomacademy.co will post the amended Terms and Conditions on this Website. Changes will apply from the date of posting.

If after the Terms and Conditions and/or the privacy policy have been amended or altered you do not agree to their terms, you must stop using this Website.</p>

<p class="font-weight-bold">General</p>

<p>Whilst blossomacademy.co will try to provide you with uninterrupted access to this Website and its Services, blossomacademy.co may need to withdraw, modify, discontinue or temporarily or permanently suspend one or more aspects of this Website where blossomacademy.co has a legal, technical or other good reason to do so (including technical difficulties experienced by blossomacademy.co or any Internet infrastructure). However, blossomacademy.co will try, wherever possible, to give reasonable notice of blossomacademy.co ’s intention to do so.

blossomacademy.co reserves the right to withhold, remove and or discard any Content available as part of your account, including any Content contributed by you, with or without notice if deemed by blossomacademy.co to be contrary to these Terms and Conditions. blossomacademy.co has no obligation to store, maintain or provide you a copy of any Content that you provide when using the Services.

If blossomacademy.co fails to exercise or enforce a right under the Terms and Conditions that failure shall not constitute a waiver of such right or provision.

If any provision of these Terms and Conditions is found by a court of competent jurisdiction to be invalid, that provision shall be deemed severed and the validity and enforceability of the remaining provisions shall not be affected. The parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision.

These Terms and Conditions shall be governed by and construed in accordance with the laws of New York, without regard to the conflict of laws provisions thereof. Venue for any action arising from or relating to these Terms and Conditions shall exclusively be in the courts of New York, NY. 

These Terms and Conditions set out blossomacademy.co’s entire agreement and understanding with respect to the subject matter of these Terms and Conditions and supersedes all representations, communications and prior agreements (written or oral).

Each party acknowledges that on entering into these Terms and Conditions, it does not rely, and has not relied, upon any representation (whether negligent or innocent), statement or warranty made or agreed to by any person (whether a party to these Terms and Conditions or not) except those expressly set out in these Terms and Conditions.

Unless expressly provided in the Terms and Conditions no term of them is enforceable by any person who is not a party to it.

You must report any violations of these Terms and Conditions to info@blossomacademy.co.

  
</p>
  </div>
    

{%endblock %}